@import './utils/variables';
.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: space-evenly;

    background-color: $secondary-color;
    border-radius: 25px;
    gap: 50px 0;
    padding: 56px 0 43px;
    @media (max-width: 600px) {
        background-color: $text-white;
        padding: 0;
        grid-template-columns: repeat(1, 0fr);
        gap: 20px;
    }
}
