.cardContainer {
    margin-top: 43px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: space-evenly;

    background-color: #F6F6F6;;
    border-radius: 25px;
    gap: 50px 0;
    padding-top: 56px;
    padding-bottom: 53px;
}