.carrousel {
    width: 1238px; /*12340px*/
    height: 413px; /*415px*/

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted black;
    //margin-bottom: 10px;
}
