.dropdown {
    max-width: 1023px;
    background-color: #f6f6f673;
}

.dropdownHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    background: var(--Red, #ff6060);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.dropdown p {
    margin: 0;
    padding: 20px;
}
