@import './utils/variables';
@import './utils/mixins';
.dropdown {
    position: relative;
    height: fit-content;

    overflow: hidden;
    .dropdownHeader {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 15px;
        align-items: center;
        color: $text-white;
        border-radius: 5px;
        background: $primary-color;

        @include policeSizeWeight($fontSize--m, 700);
        @media (max-width: 600px) {
            padding: 0px 0px 0px 10px;
            // padding: 0;
            height: 30px;
            // margin: 0;
        }
        .dropdownTitle {
            @media (max-width: 600px) {
                @include policeSizeWeight(13px, 700);
                padding: 0;
                margin: 0;
            }
        }
        .fleche {
            transform: rotate(0deg);
            transition: transform 400ms linear;
            &--up {
                transform: rotate(-180deg);
                transition: transform 400ms linear;
            }
        }
    }
    p,
    ul {
        margin: 0;
    }
    .textContainer {
        // transform: translate(0px, 00%);
        transition: transform 0.35s linear;
        &--hidden {
            overflow: hidden;
            animation: hideContainer 700ms linear 0ms forwards;
            transform: translate(0px, -100%);
            transition: transform 0.35s linear;
        }
        &--init {
            animation: hideContainer 0ms linear 0ms forwards;
            transform: translate(0px, -100%);
            transition: transform 0ms linear;
        }
    }
    .text {
        @include policeSizeWeight($fontSize--s, 400);
        background-color: $tertiary-color;
        padding: 20px;
        @media (max-width: 600px) {
            @include policeSizeWeight($fontSize--xxs, 400);
        }
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
}

@keyframes hideContainer {
    to {
        position: absolute;
    }
}
