@import './utils/variables';
@import './utils/mixins';
header,
nav,
nav div {
    display: flex;
    justify-content: space-between;
}
header {
    img {
        @media (max-width: 600px) {
            width: 145px;
        }
    }
    nav {
        gap: 57px;
        @media (max-width: 600px) {
            gap: 27px;
        }
        div {
            padding: 10px;
            align-items: center;

            color: $text-black;
            text-align: right;

            @include policeSizeWeight($fontSize--m, 500);
            @media (max-width: 600px) {
                @include policeSizeWeight($fontSize--xxs, 500);
                padding: 0;
            }
        }
    }

    a {
        color: $text-black;
        text-decoration: none;
    }
    .active {
        text-decoration: underline;
    }
}
