.home {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (max-width: 600px) {
        gap: 27px;
    }

    .home_content {
        display: flex;
        flex-direction: column;
        gap: 43px;
        @media (max-width: 600px) {
            gap: 22px;
        }
    }
}
