@import './utils/variables';
@import './utils/mixins';
.notFound {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    @media (max-width: 600px) {
        gap: 113px;
    }
    p {
        display: flex;
        align-items: center;
        margin: 0px;
    }
    .errorCode {
        width: 597px;
        height: 263px;
        @include policeSizeWeight($fontSize--xxl, 700);
        @media (max-width: 600px) {
            width: 198px;
            height: 99px;
            @include policeSizeWeight(96px, 700);
        }
    }
    .errorText {
        height: auto;
        @include policeSizeWeight($fontSize--l, 500);
        @media (max-width: 600px) {
            width: 260px;
            text-align: center;
            @include policeSizeWeight($fontSize--s, 500);
        }
    }
    .link {
        color: $text-black;
        @include policeSizeWeight($fontSize--s, 500);
        text-decoration: underline;
        @media (max-width: 600px) {
            @include policeSizeWeight($fontSize--xs, 500);
        }
    }
}
