.tagContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    .tag {
        min-width: 115px;
        border-radius: 10px;
        background: #ff6060;
        padding: 0 5px;

        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        padding-top: 3px;
        padding-bottom: 2px;
    }
}
