$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$tertiary-color: #f6f6f676;

$text-black: #000;
$text-white: #fff;

$fontSize--xxs: 12px;
$fontSize--xs: 14px;
$fontSize--s: 18px;
$fontSize--m: 24px;
$fontSize--l: 36px;
$fontSize--xl: 48px;
$fontSize--xxl: 288px;

$mainBanner: url('../../assets/homeBanner.jpg');
$aboutBanner: url('../../assets/aboutBanner.jpg');
